.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th {
    margin: 0;
    border: none;
    border-spacing: 0;
}

.ui-datepicker tr{
    padding-bottom: 30px;
}

.ui-datepicker {
    padding: 35px;
    cursor: default;
    width: 680px;
    height: 540px;

    text-transform: uppercase;
    font-family: Tahoma;
    font-size: 12px;

    background: #141517;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    -webkit-box-shadow: 0px 1px 1px rgba(255,255,255, .1), inset 0px 1px 1px rgb(0,0,0);
    -moz-box-shadow: 0px 1px 1px rgba(255,255,255, .1), inset 0px 1px 1px rgb(0,0,0);
    box-shadow: 0px 1px 1px rgba(255,255,255, .1), inset 0px 1px 1px rgb(0,0,0);
}


.ui-datepicker-header {
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #d6d6d6;
}

.ui-datepicker-title { text-align: center; }

.ui-datepicker-month {
    position: relative;
    padding-right: 15px;
    color: #565656;
}

.ui-datepicker-year {
    padding-left: 8px;
    color: #a8a8a8;
}


.ui-datepicker-month:before {
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
    width: 5px;
    height: 5px;
    content: '';

    background: #a5cd4e;
    background: -moz-linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a));
    background: -webkit-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: -o-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: -ms-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}





.ui-datepicker-prev,
.ui-datepicker-next {
    position: absolute;
    top: -2px;
    padding: 5px;
    cursor: pointer;
}

.ui-datepicker-prev {
    left: 0;
    padding-left: 0;
}

.ui-datepicker-next {
    right: 0;
    padding-right: 0;
}

.ui-datepicker-prev span,

.ui-datepicker-next span{
  color: lightgray;
}

.ui-datepicker-prev span { background-position: 0px 0px; }

.ui-datepicker-next span { background-position: -5px 0px; }

.ui-datepicker-prev-hover span { background-position: 0px -10px; }

.ui-datepicker-next-hover span { background-position: -5px -10px; }

.ui-datepicker-calendar th {
    padding-top: 15px;
    padding-bottom: 10px;

    text-align: center;
    font-weight: normal;
    color: #a8a8a8;
}


.ui-datepicker-calendar td {
    padding: 33px;

    text-align: center;
    line-height: 26px;
}

.ui-datepicker-calendar .ui-state-default {
    display: block;
    width: 26px;
    outline: none;

    text-decoration: none;
    color: #a8a8a8;

    border: 1px solid transparent;
}


.ui-datepicker-calendar .ui-state-active {
    color: #6a9113;
    border: 1px solid #6a9113;
}

.ui-datepicker-other-month .ui-state-default { color: #565656; }


.content-right{
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    height: 610px;
    background-color: #141517;
}


.content-header{
    background-color: transparent;
    width: 90%;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    height: 210px;
    display: flex;
    flex-direction: column;
}

.def-input{
    color:lightgray;
    border-radius:5px;
    padding: 5px;
    font-size: 12px;
    background-color: #2E2E2E;
    border-color:transparent;
}

.content-list{
    background-color: #0000008c;
    width: 90%;
    margin: 5%;
    height: 100%;
}

.note-table{
    width: 100%;
    height: auto;
    border-collapse: collapse;
}

.content-all{
    width: 100%;
    display: flex;
    background-color: #141517
}

.content-left{
    display: inline-block;
    float: left;
    width: 60%;
}


.line{
    color: red;
    width: 100%;
    line-height: 30px;
    text-align: center;
}



.start{
    padding: 7px;
    width: 15%;
    height: 100%;
    background-color: #2E2E2E;
    color: #6a9113;
    text-align: center;
}

.middle{
    padding: 7px;
    text-align: center;
    width: 80%;
    height: 90%;
    background-color:#2E2E2E;
    color: #6a9113;
}

.end{
    width: 10%;
    height: 100%;
    background-color:#2E2E2E;
    color: #6a9113;
}

.input-title{
    width: 100%;
    height: 35px;
    margin-top: 20px;
}

.input-text{
    margin-top: 10px;
    width: 100%;
    height: 55px;
}

.deleteImg{
    width: 100%;
    height: 100%;
}


.content-buttons{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    background-color: darkorange;
}

.bt-def{
    margin-top: 7px;
    display: inline-block;
    color: #6a9113;
    background-color: transparent;
    width: 80px;
    height: 35px;
    border-color:#6a9113;

}

.content-button{
    flex-direction: row;
    display: flex;
    width: 100%;
    height: 42px;

}

.bt-save{
    border-radius:5px;
    margin-left:20px;
    float: right;
}

.bt-clear{
    border-radius:5px;
    margin-left:55%;
    float:left;
}

.header{

    background: #2E2E2E;
    color: #6a9113;
}

body{
    background-color: black;
}